body{
    font-family: verdana;
}
input{
    background-color: #f2f2f2;
    color: #666;
    height: 24px;
    font-size: 14px;
}

h1, h2{
    color:rgb(48,40,120);
}

.comment{
    background-color: #f2f2f2;
    padding: 2px 3px;
    margin-bottom: 10px;
}

.hidden{
    display: none;
}

textarea.content{
    border: none; width: 100%; resize: none;
}

textarea.content:disabled{
    background-color: transparent;
}

textarea.content:enabled{
    background-color: white;
}

button{
    margin-right: 5px;
}

a:link, a:visited {
	text-decoration: none;
}

#menu li {
	float: left;
	list-style-type: none;
	padding: 15px 150px 15px 150px;
	background: #666;
	
}

#menu li a:link, #menu li a:visited {
		color:white;
        font-size: 1.1em;
        padding: 5px 43px 0 43px;
    }

#menu li:hover, #menu li:active {
    background-color: rgb(78, 76, 76);
    transition: 0.2s
}

.table{
    margin-top: 20px;
    color: #fff;
}

.container{
    background-color: #666;
    padding-bottom: 10px;
}

.form-group{
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
}

label{
    color: #fff;
}

textarea{
    background-color: #fff0;
    border-color: #666666;
}